<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<main>
    <div class="container mt-5 mb-5">
        <h1>Edit article</h1>
        <div th:each="el : ${post}">
            <form method="post">
                <input type="text" th:value="${el.title}" name="title" placeholder="Article name" class="form-control"><br>
                <input type="text" th:value="${el.anons}" name="anons" placeholder="Announce of article" class="form-control"><br>
                <textarea name="full_text" placeholder="Full text of article" class="form-control" th:text="${el.full_text}"/><br>
                <button type="submit" class="btn btn-success mt-2">Post article</button>
            </form>
        </div>
    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>