<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog of site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<main>
    <div class="container mt-5">
        <div th:each="el : ${post}" class="alert alert-info mt-2">
            <h1 th:text="${el.title}"/>
            <p th:text="${el.full_text}"/>
            <p th:text="'Views:' + ${el.views}"/>
            <a th:href="'/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a><br><br>
            <form th:action="'/blog/' + ${el.id} + '/remove'" method="post">
                <button class="btn btn-warning" type="submit">Remove</button>
            </form>
        </div>
    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>