<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <span class="fs-4">Blog</span>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Main</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog">Blog</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog/add">Add article</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">About us</a>
        </nav>
    </div>
</div>